@charset "UTF-8";

.advantages-background {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    background: {
        image: url(../img/adbg.jpg);
        size: cover;
        position: 50% 50%;
        repeat: no-repeat;
    };

    @include mq(sm) {
        display: none;
    }
}

.advantages {
    position: relative;
    z-index: 99;

    @include mq(md) {
        @include grid;
        flex-wrap: wrap;
    }

    &__column {

        @include mq(sm) {
            &:not(:last-child) {
                margin-bottom: 4.5rem;
            }
        }

        @include mq(md) {
            @include grid-col();
            @include col-size(1/3);
        }
    }

    &__content {
        text-align: center;

        > img {
            display: block;
            margin: 0 auto;
            width: auto;
            vertical-align: top;
        }

        > p {
            @include text-sm;
            margin-top: 3rem;

            @include mq(md) {
                @include text-md;
            }

            @include mq(lg) {
                @include font(2.2rem, 3rem);
            }
        }
    }
}
