@charset "UTF-8";

.form-background {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: {
        image: url(../img/formbg.jpg);
        size: cover;
        position: 50% 50%;
        repeat: no-repeat;
    };
}

.form-section {

    &__popup {

        @include mq(md) {
            margin: 0 auto;
            width: 73rem;
        }

        .form-section__body {
            width: 100%;

            @include mq(sm) {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    &__body {
        position: relative;
        z-index: 99;
        padding: 3.5rem 3rem;
        background: $color-body-background;

        @include mq(md) {
            margin: 0 auto;
            padding: 3.5rem 6rem;
            width: 73rem;
        }
    }

    &__title {
        @include font(1.8rem,2.6rem);
        margin-bottom: 3rem;
        font-family: $font-family-bold;
        text-transform: uppercase;
        text-align: center;
    }

    &__form-grid {
        margin-bottom: 3rem;

        @include mq(md) {
            display: flex;
        }

        > .input {

            @include mq(sm) {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            @include mq(md) {
                flex: 1;

                &:last-child {
                    margin-left: 3rem;
                }
            }
        }
    }

    &__form-button-grid {
        @include mq(md) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__button-col {
        text-align: center;

        @include mq(sm) {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        @include mq(md) {
            @include col-size(1/3);
            align-items: center;
        }

        > .button {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    &__info {
        margin-top: 2rem;
        text-align: center;

        > span,
        > b {
            display: block;
            color: $color-lightest;
        }

        > span {
            @include font(1.4rem,1.8rem);
        }

        > b {
            @include font(1.6rem,2rem);
            font-family: $font-family-bold;

            @include mq(sm) {
                display: none;
            }
        }
    }
}

// mfp overrides

.mfp-bg {
    background: $color-brand;
    opacity: 0.85;
}
