.section-box {
    position: relative;
    padding: 6rem 0;
    background: $color-body-background;

    &:first-child {
        padding-top: 0;

        @include mq(md) {
            padding-top: 16rem;
        }
    }

    @include mq(md) {
        padding: 10rem 0;
    }

    &__title {
        @include h2;
        width: 100%;
        margin-bottom: 3rem;
        text-align: center;

        @include mq(md) {
            margin-bottom: 4rem;
        }

        @include mq(lg) {
            margin-bottom: 5rem;
        }
    }

    &--not-bottom-padding {
        padding-bottom: 0;

        @include mq(sm) {
            display: none;
        }
    }
}
