.section-box#advantages
    .advantages-background
    .container
        .advantages
            h2.section-box__title Преимущества участия в программе

            .advantages__column
                article.advantages__content
                    img(src='img/ad1.png' alt='')
                    p Снижение начальных затрат на устройство до 60%

            .advantages__column
                article.advantages__content
                    img(src='img/ad2.png' alt='')
                    p Выгодная, зафиксированная в рублях стоимость расходных материалов на весь срок контракта (до 3-х лет)

            .advantages__column
                article.advantages__content
                    img(src='img/ad3.png' alt='')
                    p Гарантия производителя на весь срок контракта (до 3-х лет)

