.section-box
    .container
        .catalog
            .catalog__grid.js-talog-slider

                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.
                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.
                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.
                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.
                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.
                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.



            .catalog__description Линейка черно-белых лазерных устройств для малых рабочих групп

            .catalog__grid.js-talog-slider

                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.
                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.
                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.



            .catalog__description
                b Цветные устройства


            .catalog__grid.js-talog-slider

                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.
                .catalog__column
                    .catalog__item
                        .catalog__item-label
                            .catalog__item-image
                                img(src='img/c1.png' alt='title')

                            h4.catalog__item-title HL-L5200DW

                        .catalog__item-content
                            article
                                h4.catalog__item-title HL-L5200DW

                                dl
                                    dt Скорость печати, стр./мин.
                                    dd 46

                                dl
                                    dt Ресурс картриджа
                                    dd 12 000

                                dl
                                    dt Интерфейсы
                                    dd USB,&nbspGigabit internet,<br/>Wi-Fi

                                dl
                                    dt Дисплей
                                    dd Дисплей

                                dl
                                    dt АПД
                                    dd Нет

                                dl
                                    dt Картридж в комплекте
                                    dd 8 000 стр.

                                dl
                                    dt Фотобарабан в комплекте
                                    dd 50 000 стр.



