.section-box#form
    .form-background
    .container
        .form-section
            .form-section__body
                .form-section__title Оставьте заявку и мы свяжемся с вами
                form
                    .form-section__form-grid

                        .input
                            input(type='text' placeholder='Имя')

                        .input
                            input(type='text' placeholder='Телефон')

                    .form-section__form-button-grid
                        .form-section__button-col
                            button.button отправить

                        .form-section__button-col
                            a.phone-link(href='tel:88007777777')
                                img(src='img/tel.png' alt='tel')
                                span 8 (800) 777 77 77

                        .form-section__button-col
                            a.button.button--transparent.js-open-popup(href='#form-popup') Связаться с нами

                    .form-section__info
                        span Отправляя данную форму Вы соглашаетесь с обработкой персональных данных
                        b * Предложение действительно только для юридических лиц

    .form-section__popup.mfp-hide#form-popup
        .form-section__body
            .form-section__title Оставьте заявку и мы свяжемся с вами
            form
                .form-section__form-grid

                    .input
                        input(type='text' placeholder='Имя')

                    .input
                        input(type='text' placeholder='Город')

                .form-section__form-grid

                    .input
                        input(type='phone' placeholder='Телефон')

                    .input
                        input(type='email' placeholder='E-mail')

                .textarea
                    textarea(placeholder='Сообщение')

                .form-section__form-button-grid
                    .form-section__button-col
                        button.button отправить

                .form-section__info
                    span Отправляя данную форму Вы соглашаетесь с обработкой персональных данных


