.section-box
    .form-background
    .container
        .form-section
            .form-section__body
                .form-section__title Оставьте заявку и мы свяжемся с вами
                form
                    .form-section__form-grid

                        .input
                            input(type='text' placeholder='Имя')

                        .input
                            input(type='text' placeholder='Телефон')

                    .form-section__form-button-grid
                        .form-section__button-col
                            button.button(href='#') отправить

                        .form-section__button-col
                            a.phone-link(href='tel:88007777777')
                                img(src='img/tel.png' alt='tel')
                                span 8 (800) 777 77 77

                        .form-section__button-col
                            button.button.button--transparent(href='#') Связаться с нами

                    .form-section__info
                        span Отправляя данную форму Вы соглашаетесь с обработкой персональных данных

