.section-box
    .container
        .programs
            .section-box__title Базовые условия программы

            .programs__navigate
                a.button.button--transparent.is-current Монохромные устройства
                a.button Цветные устройства

