section.promo

    .promo__article

        .promo__image-desktop-left
            img(src='img/p1.jpg' alt='p1')


        article
            img(src='img/pm.jpg' alt='pm')
            h1.promo__title Toner Management Program
            p Внушительные скидки на аппараты Brother+ Фиксированные<br/> рублевые цены на расходные материалы

            .promo__button-box
                a.button.js-scroll-to(href='#advantages') Подробнее

        .promo__image-desktop-right
            img.is-lg(src='img/p2.jpg' alt='p1')
            img.not-md(src='img/p3.jpg' alt='p1')

