.section-box.section-box--not-bottom-padding
    .container
        .programs
            .section-box__title Базовые условия программы

            .programs__navigate
                a.button.js-tab-switch(data-tab='2') Монохромные устройства
                a.button.is-current.js-tab-switch(data-tab='1') Цветные устройства


            .programs__box

                .programs__tabs#tab-1
                    .programs-tab
                        .programs-tab__products
                            .programs-tab__header Линейка профессиональных цветных лазерных устройств
                            .programs-tab__products-grid

                                .programs-tab__product-item
                                    .programs-tab__image
                                        img(src='img/t1/t1.png' alt='')
                                        .programs-tab__action(data-action)
                                            .programs-tab__action-content
                                                span Скидка
                                                b 65%

                                    span HL-L9310CDW

                                .programs-tab__product-item(data-symbol='+')
                                    .programs-tab__image
                                        img(src='img/t1/t2.png' alt='')
                                        .programs-tab__action(data-action)
                                            .programs-tab__action-content
                                                span Скидка
                                                b 65%


                                    span MFC-L9570CDW


                        .programs-tab__complementary
                            .programs-tab__header
                                span Контракт 36 месяцев
                            .programs-tab__complementary-grid(data-symbol='+')

                                .programs-tab__complementary-item
                                    .programs-tab__image
                                        img(src='img/t1/l1.png' alt='')
                                    span 8 ВК картриджей


                                .programs-tab__complementary-item(data-symbol='+')
                                    .programs-tab__image
                                        img(src='img/t1/l2.png' alt='')
                                    span 12 CMY картриджей









                .programs__tabs#tab-2
                    // line 1
                    .programs-tab
                        .programs-tab__products
                            .programs-tab__header Линейка черно-белых лазерных устройств для средних и больших рабочих групп
                            .programs-tab__products-grid

                                .programs-tab__product-item
                                    .programs-tab__image
                                        img(src='img/t1/b1.png' alt='')
                                        .programs-tab__action(data-action)
                                            .programs-tab__action-content
                                                span Скидка
                                                b 50%

                                    span HL-L5200DW

                                .programs-tab__product-item(data-quantitative-modification data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/b2.png' alt='')
                                        .programs-tab__action(data-action)
                                            .programs-tab__action-content
                                                span Скидка
                                                b 60%


                                    span HL-L6300DW

                                .programs-tab__product-item(data-quantitative-modification data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/b2.png' alt='')
                                        .programs-tab__action(data-action)
                                            .programs-tab__action-content
                                                span Скидка
                                                b 60%


                                    span HL-L6400DW


                        .programs-tab__complementary
                            .programs-tab__header(data-quantitative-modification)
                                span Контракт 24 месяцев
                                span Контракт 36 месяцев

                            .programs-tab__complementary-grid(data-symbol='+')

                                .programs-tab__complementary-item
                                    .programs-tab__image
                                        img(src='img/t1/bk.png' alt='')
                                    span 8 картриджей


                                .programs-tab__complementary-item(data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/bk.png' alt='')
                                    span 10 картриджей



                    // line 2
                    .programs-tab
                        .programs-tab__products
                            .programs-tab__products-grid

                                .programs-tab__product-item
                                    .programs-tab__image
                                        img(src='img/t1/b3.png' alt='')
                                        .programs-tab__action(data-action)
                                            .programs-tab__action-content
                                                span Скидка
                                                b 50%

                                    span MFC-L5750DW

                                .programs-tab__product-item(data-quantitative-modification data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/b4.png' alt='')
                                        .programs-tab__action(data-action)
                                            .programs-tab__action-content
                                                span Скидка
                                                b 60%


                                    span MFC-L6800DW

                                .programs-tab__product-item(data-quantitative-modification data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/b4.png' alt='')
                                        .programs-tab__action(data-action)
                                            .programs-tab__action-content
                                                span Скидка
                                                b 60%


                                    span MFC-L6900DW


                        .programs-tab__complementary


                            .programs-tab__complementary-grid(data-symbol='+')

                                .programs-tab__complementary-item
                                    .programs-tab__image
                                        img(src='img/t1/bk1.png' alt='')
                                    span 12 картриджей


                                .programs-tab__complementary-item(data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/bk1.png' alt='')
                                    span 15 картриджей



                    // line 3
                    .programs-tab
                        .programs-tab__products
                            .programs-tab__header Линейка черно-белых лазерных устройств для малых рабочих групп
                            .programs-tab__products-grid

                                .programs-tab__product-item
                                    .programs-tab__image
                                        img(src='img/t1/b5.png' alt='')
                                        .programs-tab__action
                                            .programs-tab__action-content
                                                span Скидка
                                                b 50%

                                    span HL-L2371DN
                                    span(data-price) 1 990 р

                                .programs-tab__product-item(data-quantitative-modification data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/b6.png' alt='')
                                        .programs-tab__action
                                            .programs-tab__action-content
                                                span Скидка
                                                b 60%


                                    span DCP-L2551DN
                                    span(data-price) 4 990 р

                                .programs-tab__product-item(data-quantitative-modification data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/b6.png' alt='')
                                        .programs-tab__action
                                            .programs-tab__action-content
                                                span Скидка
                                                b 60%


                                    span MFC-L2751DW
                                    span(data-price) 5 990 р


                        .programs-tab__complementary
                            .programs-tab__header(data-quantitative-modification)
                                span Контракт 24 месяца

                            .programs-tab__complementary-grid(data-symbol='+')

                                .programs-tab__complementary-item
                                    .programs-tab__image
                                        img(src='img/t1/bk2.png' alt='')
                                    span 9 картриджей
                    // line 4
                    .programs-tab
                        .programs-tab__products
                            .programs-tab__header Линейка черно-белых лазерных устройств для малых рабочих групп
                            .programs-tab__products-grid

                                .programs-tab__product-item
                                    .programs-tab__image
                                        img(src='img/t1/b5.png' alt='')
                                        .programs-tab__action
                                            .programs-tab__action-content
                                                span Скидка
                                                b 50%

                                    span HL-L2371DN
                                    span(data-price) 990 р

                                .programs-tab__product-item(data-quantitative-modification data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/b6.png' alt='')
                                        .programs-tab__action
                                            .programs-tab__action-content
                                                span Скидка
                                                b 60%


                                    span DCP-L2551DN
                                    span(data-price) 2 490 р

                                .programs-tab__product-item(data-quantitative-modification data-symbol='или')
                                    .programs-tab__image
                                        img(src='img/t1/b6.png' alt='')
                                        .programs-tab__action
                                            .programs-tab__action-content
                                                span Скидка
                                                b 60%


                                    span MFC-L2751DW
                                    span(data-price) 2 990 р


                        .programs-tab__complementary
                            .programs-tab__header(data-quantitative-modification)
                                span Контракт 24 месяца

                            .programs-tab__complementary-grid(data-symbol='+')

                                .programs-tab__complementary-item
                                    .programs-tab__image
                                        img(src='img/t1/bk2.png' alt='')
                                    span 9 картриджей


