header.site-header
    .site-header__grid
        a.site-header__logo-box(href='#')
            img(src='img/logo.svg' alt='logo')

        .site-header__button-box
            a.button.button--transparent.js-scroll-to(href='#form') оставить заявку
