footer.site-footer
    .site-footer__contact
        .container
            .site-footer__contact-grid
                p ©2018 Brother. Копирование материалов сайта запрещено.
                a.site-footer__phone-link(href='tel:88007777777')
                    img(src='img/tel.png' alt='tel')
                    span 8 (800) 777 77 77

